.container1 {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  position: relative;
  overflow: hidden;

 
}


 /* .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to right, #080347f3, #000000 , #080347f3);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.light {
  position: absolute;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
  border-radius: 50%;
  animation: move-light 10s linear infinite;
}

@keyframes move-light {
  0% {
    top: 50px;
    left: 50px;
  }
  25% {
    top: 50px;
    left: calc(100vw - 50px);
  }
  50% {
    top: calc(100vh - 50px);
    left: calc(100vw - 50px);
  }
  75% {
    top: calc(100vh - 50px);
    left: 50px;
  }
  100% {
    top: 50px;
    left: 50px;
  }
} 
 */

.stopwatch-container {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    position: relative;
    overflow: hidden;
}

  /* Remove sidebar */
  .sidebar {
        display: none;
    }

    
  .container {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    transition: transform 0.5s ease;
    
  }

  .container.active {
    display: block;
    transform: translateX(0);
    
  }

  .container.prev {
    transform: translateX(-100%);
  }

  .container.next {
    transform: translateX(100%);
  }

  .arrow {
    cursor: pointer;
    font-size: 24px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
  }

  .arrow.left {
    left: 0;
  }

  .arrow.right {
    right: 0;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #080347f3, #000000 , #080347f3);
    color: #fff;
    /* background-image: url('Photos/watch.jpg');
    background-repeat: no-repeat; 
   background-size: cover; */



}



.heading {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.space {
    height: 20px;
}

/* time section */

.time-display {
    font-size: 48px;
    color: #ffffff;
    margin-top: 90px;
    margin-left: 150px;

}

.controls {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}


.datetime-container {
    display: flex;
}

/* time */

.real-time {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
  
    margin-left: 150px; 
   /* Add spacing between time and date */

}
.real-date {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-right: 150px; 
    margin-left: 20px;/* Add spacing between time and date */
}


/* Lap Section */

.lap-times-container {
    width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lap-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    background-color: rgba(212, 208, 209, 0.5); /* Semi-transparent background color */
    color: #000000; /* Text color set to white */
    margin-bottom: 5px;
}

.delete-btn {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* Note Section */

textarea {
    width: 500px;
    height: 200px;
    margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
    padding: 5px;
   background: #ffffff;
   color: #000000;
}

#saveNoteBtn {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 235px;
}

#noteDisplay {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
 margin-left: 20px;
}




/* Add this CSS to style the lap name input field */
.lap-name-input {
    width: 150px;
    padding: 5px;
    margin-left: 10px;
}
.countdown-content {
    display: none;
}

/* Countdown timer */

.countdown-container h1 {
    margin-bottom: 10px;
    color: #ffffff;
    margin-left: 140px;
}

.countdown-container label {

    margin-left: 25px;
    color: #ffffff;
    /* background-color: rgb(255, 255, 255); */
    margin-top: 10px;

}

.countdown-container input {
    width: 50px;
    margin-right: 20px;
    color: #000;
}

.countdown-container button {
    padding: 5px 10px;
    margin-top: 20px;
    margin-left: 240px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.countdown-message{

    font-size: 40px;
    margin-left: 50px;
    margin-top: 50px;
    color: #ffffff;
}



/* Styles for smaller screens */
@media only screen and (max-width: 800px) {
    .container {
      flex-direction: column;
      align-items: stretch;
    }
  
     
  .arrow {
    display: inline-block;
  }



    .heading {
      font-size: 24px;
    }
  

  
    body {
      background: linear-gradient(to right, #080347f3, #000000 , #080347f3);
     
    }
    
    
  }
